*{
	margin:0px;
	paddin:0px;
}

header{
	width:100%;
	height:200px;
	background:red;
}

section{
	widtht:100%;
	height:200px;
	bacground:#000;
}

footer{
	width:100%;
	height:200px;
	background:black;
}

#vit{
	position:absolute;
	width:250px;
	height:250px;
	margin-top:-20px;
	margin-lef:auto;
	margin-right:auto;
}

section {
	position:relative;
}
